@using Microsoft.ApplicationInsights.AspNetCore
@using WebApplication1.Models.DemonstratorViewModels
@model WebApplication1.Models.DemonstratorViewModels.HelpRequestListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-12">
                Location: @Model.Location <br/>
                Student Number: @Model.StudentNumber <br/> Time Requested: @Model.TimeRequested <br/>
                Problem Description: @Model.DescOfProblem <br/>
                <a asp-controller="Demonstrator" asp-action="CompleteRequest" asp-route-id="@Model.Id">Completed</a>
            </div>
        </div>
    }
    @if (Model == null)
    {
        <div class="row">
            <div id="helpRequests" class="col-sm-6 col-sm-offset-3">
                @*@await Component.InvokeAsync("HelpRequests")*@
            </div>

        </div>
    }
    
    @section Scripts{
        <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    type: "GET",
                    url: "/Demonstrator/GetListViewComponent",
                    success: function(response) {
                        $('#helpRequests').html(response);
                    }
                });
                var transport = signalR.TransportType.WebSockets;
                var connection = new signalR.HubConnection("/notifications");
                connection.on("ReloadHelpList",
                    (value) => {
                        $.ajax({
                            type: "GET",
                            url: "/Demonstrator/GetListViewComponent",
                            success: function(response) {
                                $('#helpRequests').html(response);
                            }
                        });
                    });
                connection.on("SignOutEveryone",
                    (value) => {
                        alert("Lab Session has ended");
                        window.location.href = "/Home/Index";
                    });
                connection.start();
            });
            


        </script>
    }

</div>



